<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .container{
            background-color: rgb(245, 245, 245);
            border-radius: 8px;
            margin: 5px;
            padding: 0.5px 1px 1px 10px;
        }
    </style>

    <title>Mail</title>
</head>

<body>
    <div class="container">
        <h4>Hello, {{ username }}!</h4>

        <p>Nice to see you in our website, we hope you enjoy it!</p>
        <p>Best regards, E | Service team.</p>
    </div>
</body>
</html>